<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>$title$</title>
        <link rel="stylesheet" href="/css/default.css" />
    </head>
    <body>
        <header>
            <div class="logo">
                <a href="/">DevJac</a>
            </div>
            <nav>
                <a href="/">Home</a>
                <a href="/archive.html">Archive</a>
            </nav>
        </header>
        <main role="main">
            $body$
        </main>
        <footer>
        </footer>
    </body>
</html>
